.panel.panel-info
  .panel-heading Products

  %table.table
    %thead
      %tr
        %th Name
        %th Status
        %th Description
        %th Price
        %th
        %th
    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= product_status(product.status)
          %td= product.description
          %td= product.price
          %td.buy
            %a.btn.btn-success{:type => "button"} Buy
          %td.last
            .btn-group{"aria-label" => "...", :role => "group"}
              %a.btn.btn-info{:type => "button", href: "products/#{product.id}", method: :get} Show
              %a.btn.btn-warning{:type => "button", href: "products/#{product.id}/edit", method: :get} Edit
              %a.btn.btn-danger{:type => "button", href: "products/#{product.id}/delete", method: :get} Delete
%br/
%a.btn.btn-info{:type => "button", href: "/products/new", method: :get} Add Product
